<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Список заправочных станций</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fuel">Топливо</a>
            </li>
        </ul>
        <form class="form-inline">
            <a th:href = "@{/showSignUpForm}" class = "btn btn-primary mx-2">Зарегистрироваться</a>
            <a th:href = "@{/showSignUpForm}" class = "btn btn-primary mx-2">Войти</a>
        </form>
    </div>
</nav>
<div class = "container">
    <h1>Изменение данных о заправочной станции</h1>
    <hr>
    <form action="#" th:action="@{/list/saveStation}" th:object = "${station}" method="post">
        <input type="hidden" th:field = "*{id}" />
        <input type="text" th:field = "*{location}" placeholder="location" class="form-control mb-4 col-4">
        <input type="text" th:field = "*{phone}" placeholder="phone" class="form-control mb-4 col-4">
        <input type="text" th:field = "*{fuel}" placeholder="Fuel" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Сохранить</button>
    </form>
</div>
</body>
</html>